/* general */
#profile-pic {
    max-width: 350px;
    max-height: 400px;
}

.text-body {
    margin-left: 100px;
    margin-right: 100px;
}

section {
    background: rgb(255, 255, 255);
}

.hamburger {
    position: fixed;
    top: 30px;
    left: 30px;
    z-index: 99;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 4px;
  }

/* image stuff */
.jumbotron {
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
}
.container .image-container {
    text-align: center;
    vertical-align: middle;
    display: table-cell;
}

#experience-image {
    max-width: 280px;
    max-height: 250px;
}

/* parallax stuff */
.front-parallax {
    height: 770px;
    background-size: cover;
    padding-right: 15px;
}

.parallax-container {
    padding-right: 15px;
    height: 400px;
    background-size: cover;
}