#parallax-starting{
    background-image:linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url("images/Sakura.jpg");
    margin-bottom: 50px;
    height: 500px;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
    background-attachment: fixed;  
    background-position: center;
    background-repeat: no-repeat;
}

#parallax-body{
    background-image:linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url("images/San\ Diego\ -\ Sunset.jpg");
    margin-bottom: 50px; 
    height: 500px;
    background-size: cover;
    background-attachment: fixed;  
    background-position: center;
    background-repeat: no-repeat;
}
h1{
    font-family: Permanent Marker;
    font-size: 60px;
}
h3{
    font-family: Dancing Script;
}